@model List<ResultBookingAdminDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 0;
}

<table class="table table-bordered">

	<tr>
		<th>#</th>
		<th>İsim</th>
		<th>Giriş Tarihi</th>
		<th>Çıkış Tarihi</th>
		<th>Özel İstek</th>
		<th>Durum</th>
		<th>Onayla</th>
		<th>İptal Et</th>
		<th>Güncelle</th>
				
	</tr>

	@foreach (var item in Model)
	{
	
		count++;
		<tr>
			<td>@count</td>
			<td>@item.Name.ToUpper()</td>
			<td>@item.Checkin.ToString("dd-MMM-yyyy")</td>
			<td>@item.CheckOut.ToString("dd-MMM-yyyy")</td>
			<td>@item.SpecialRequest</td>
			<td><span class="btn btn-primary">@item.Status</span></td>
			<td><a href="/BookingAdmin/ApprovedStatus/@item.BookingID" class="btn btn-success">Onayla</a></td>
			<td><a href="/BookingAdmin/CancelStatus/@item.BookingID" class="btn btn-outline-danger">İptal Et</a></td>
			<td><a href="/BookingAdmin/ReservationWait/@item.BookingID" class="btn btn-outline-primary">Beklet</a></td>
		</tr>

	}
</table>


